<!DOCTYPE html>
<html>
<head>
	<title>Tweedr</title>
</head>
<body style="text-align: center;">
	<header>
		<div class="button-container" style="display: inline-block; position: absolute; right: 5%;">
		<form style="display: inline-block;" action="/login">
		    <input type="submit" value="Log in" />
		</form>
		<form style="display: inline-block;" action="/signup">
		    <input type="submit" value="Sign Up" />
		</form>
		</div>
		<h1>Tweedr</h1>
		<h4 style="position: relative; bottom: 10px;">What Ya Thinking?</h4>
	</header>
</body>
</html>