.login-form{
    width:500px;
    margin: 0 auto;
    margin-top:20px;
    text-align:center;
}
h2{
    text-align:center;
}


.tweet-container{
    width:500px;
    display:flex;
    flex-direction: column;
    margin:0 auto;
}

.tweet-card{
    border:1px solid #d3d3d3;
    padding:10px;
    position:relative;

}

.name-in-card a{
    color:black;
    font-weight:bold;
}

.tweet-in-card{
    min-height:65px;
    margin:0;
}

.tweet-card:hover{
    background-color: #eaeaea;
    transition: background-color 200ms linear;
}



.register-button input{
    display:block;
    margin:0 auto;
    margin-top:20px;
}

.single-user-profile{
    text-align:center;
}

.single-user-profile table{
    width:500px;
    margin:0 auto;
}

nav h4{
    color:white;
}

.tweet-timing{
    position:absolute;
    right: 17px;
    /* top: 9px; */
    bottom: -6px;
    font-size:13px;
}

.edit-button{

    position: absolute;
    right:0;
    top:0;


}

.grey-balls{
    background-color: grey;
    border-radius:100%;
    width:3px;
    height:3px;

}

.side-bar{
    background-color:#eaeaea;
    position:absolute;
    width:200px;
    min-height:630px;
    left:0;
    top:55px;

}

.side-bar h5{
    margin-top:10px;
}

.side-bar ul{
    list-style-type: none;
}

.side-bar a{
    color:black;

}
.side-bar a:hover{
    text-decoration: none;
    color:#007aff;
}

.follow-button{
    margin-top:20px;
}

.no-button{
    margin-left:10px;
}