body {
	width: 65%;
	margin: auto;
	text-align: center;
}

::placeholder {
	padding: 10px;
}

/*=================
   Site Nav Bar
 ================*/
.nav {
	height: 40px;
	display: flex;
	background-color: #E7F2F6;
	justify-content: space-between;
}

.nav > .logo {
	margin-top: 6px;
	margin-left: 15px;
}

.nav > .logout {
	margin-top: 6px;
	margin-right: 15px;
}

/*==============
   Login Page
 =============*/
.login {
	margin-top: 150px;
}

.login > .username, .login > .password {
	width: 30%;
	height: 45px;
	margin: 0px auto 5px auto;
}

.login > .btn {
	width: 30%;
	margin-top: 10px;
}

.login > a {
	display: block;
	font-size: 12px;
	margin-top: 15px;
}


/*=================
   Register Page
 ================*/
.register {
	margin-top: 150px;
}

.register > .username, .register > .password {
	width: 30%;
	height: 45px;
	margin: 0px auto 5px auto;
}

.register > .btn {
	width: 30%;
	margin-top: 10px;
}

.register > a {
	display: block;
	font-size: 12px;
	margin-top: 15px;
}



/*================================
   Profile Section in Home Page
 ===============================*/
.profile {
	width: 100%;
	height: 200px;
	padding: 0px;
	margin-top: 20px;
	margin-right: 20px;
	border-radius: 5px;
	background-color: #282923;
	border: 1px solid #EBEBEB;
}

.profile > img {
	width: 60px;
	margin: 15px 0px 5px 0px;
	border-radius: 5px;
}

.profile > .username {
	color: white;
	font-size: 28px;
	font-weight: bold;
}

.profile > .follow {
	padding: 5px 15px;
	display: flex;
	margin-top: 5px;
	background-color: white;
	justify-content: space-between;
}

.profile > .follow > div {
	margin-top: 5px;
	text-align: left;
}

.profile > .follow > div > .header {
	font-size: 10px;
}

.profile > .follow > div > .stats {
	color: #4487B0;
	font-size: 20px;
	font-weight: 500;
}

.profile > .post {
	padding: 10px 14px;
	background-color: #E7F2F6;
}

.profile > .post > form > input[type=text] {
	width: 100%;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #CFE5EF;
}

.profile > .post > form > input[type=submit] {
	width: 100%;
	padding: 0px;
	height: 30px;
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid #CFE5EF;
}

/*================================
   Tweets Section in Home Page
 ===============================*/
.tweets {
	width: 50%;
	padding: 0px;
	margin-top: 20px;
	text-align: left;
	border-radius: 5px;
	border: 1px solid #EBEBEB;
}

.tweets > h3 {
	padding-top: 5px;
	padding-left: 10px;
}

.tweet {
	padding-top: 8px;
	padding-bottom: 8px;
	border-top: 2px solid #EBEBEB;
}

.tweet > .username {
	font-weight: bold;
}

.tweet > .footer {
	display: flex;
	color: #AAB5BE;
	font-size: 12px;
	justify-content: space-between;
}