

.container {

    display: inline-block;
    margin: auto;

    width: 100%;
    height: auto;

    background-image: url('images/background.jpg');
    background-size: cover;

}


.title {

    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: white;
    text-align-last: center;

}


nav {

    float: right;

}


a:hover {

    color: blue;

}