/* .heart {
  background-color: grey;
  display: inline-block;
  height: 20px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 20px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: grey;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}

.heart:before {
  top: -10px;
  left: 0;
}

.heart:after {
  left: 10px;
  top: 0;
} */
