@charset "utf-8";
$dark-accent: #222831;
$main-brand: #00adb5;
$light-shade : #eeeeee;
$dark-shade : #222831;
$dark-accent: #393e46;
$primary: $main-brand;
$grey-dark: $dark-accent;
$background: $light-shade;
@import "~bulma/bulma";

.is-fixed-height-box {
  height: 60vh;
  min-height: 550px;
}

.hero .title {
  margin-bottom:20px;
}

.hero .subtitle {
  font-style: italic;
  color:darkgray;
  margin:20px 0;
}

.has-bg-primary {
  background: $main-brand
}